__pycache__/
*.py[cod]
*$py.class
*.pyo

# *.pkl
# *.png

*.egg-info/
dist/
build/

*.DS_Store
Thumbs.db

.ipynb_checkpoints/

results/TA/
results/QUA/analysis_bundle.npz
results/QUA/features/
results/QUA/images_segmentation/
results/QUA/npz_256/
results/QUA/out_CP_masks/
results/QUA/prediction_output/
results/QUA/VAE_embed/

# results/QUA/clustering_cache/analysis_frame_ch3_k6.npz

results/QUA/eval/fiber_morphology.pkl
results/QUA/eval/*.log

results/benchmark/f2fmatcher_output/
results/benchmark/f2fmatcher_output_ablation/
results/benchmark/*.log